@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

:root {
    --background-color: #1c1c1c;
    --text-color: #f2f2f2;
    --button-background-color: #333;
    --button-text-color: #f2f2f2;
}

*{
    font-family: 'Inter', sans-serif;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container .author {
    font-size: 4rem;
    text-align: center;
}

.container .description {
    font-size: 2rem;
    text-align: center;
}

.container .checkPosts {
    color: var(--button-text-color);
    background-color: var(--button-background-color);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    padding: 12px;
    margin: 4px;
}

.posts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post {
    margin: 15px;
    padding: 15px;
    width: 100%; /* 500px; */
    height: 250px;
    text-align: center;
    border: 1px solid var(--button-background-color);
}

.post .title {
    font-size: 1.5rem;
    margin-bottom: 5%;
}

.post .description {
    font-size: 1rem;
    margin-bottom: 5%;
}

.post .date {
    font-size: 0.8rem;
}

.fpost {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.fpost .title {
    font-size: 4em;
    font-weight: bold;
}

.fpost .description {
    font-size: 1.5em;
}

.fpost .date {
    font-size: 1em;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}

footer a {
    color: white;
}

.login-form {
    width: 400px;
    margin: 0 auto;
    border: 1px solid, var(--button-background-color);
    padding: 20px;
}

.login-form h2 {
    font-size: 4em;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--button-background-color);
    margin-bottom: 20px;
}

.login-form button[type="submit"] {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.edit-link, .remove-link {
    display: inline-block;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
}
