<!DOCTYPE html>
<html data-theme="dark">
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS | Rogger</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  </head>
  <body>
    <nav>
      <ul>
	<li><strong>Rogger</strong></li>
      </ul>
      <ul>
	<li><b>Main</b></li>
	<li><a href="/cms/posts/1">Posts</a></li>
	<li><a href="/cms/authorization">Authorization</a></li>
      </ul>
    </nav>
    <nav aria-label="breadcrumb">
      <ul>
	<li>Cms</li>
      </ul>
    </nav>
    <main>
      <p align="center">You are logged as <b>Rogger_Admin</b> <a href="/api/endSession">Logout</a></p>
      <div class="container">
	<article>
	  <h2 class="title"><a href="/cms/index"><b>Index page</b></a></h2>
	  <p><a href="/cms/index"><b>Edit page</b></a></p>
	</article>
	<article>
	  <h2 class="title"><a href="/cms/aboutme"><b>About me page</b></a></h2>
	  <p><a href="/cms/aboutme"><b>Edit page</b></a></p>
	</article>
      </div>
    </main>
  </body>
</html>
