<!DOCTYPE html>
<html data-theme="dark">
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS | Rogger</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body>
    <nav>
      <ul>
	<li><strong>Rogger</strong></li>
      </ul>
      <ul>
	<li><b>Main</b></li>
	<li><a href="/cms/posts/1">Posts</a></li>
	<li><a href="/cms/authorization">Authorization</a></li>
      </ul>
    </nav>
    <nav aria-label="breadcrumb">
      <ul>
	<li>Cms</li>
      </ul>
    </nav>
    <main>
      <p align="center">You are logged as <b>{{ master_user_login }}</b> <a href="/api/endSession">Logout</a></p>
      <div class="container">
	<script>
	  function req(path, data) {
	      const xhr = new XMLHttpRequest();
	      const url = path;
	      const params = "api_key="+
		    new Map(document.cookie.split("; ").map(cookie => cookie.split('='))).get('session')
		  +"&text="+data;
	      xhr.open("POST", url, true);
	      xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
	      xhr.onreadystatechange = function() {
		  if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
		      console.log(xhr.responseText);
		      window.location.replace("/cms/");
		  }
	      };
	      xhr.send(params);
	  }
	  </script>
	<article>
	    <label for "blog_name">Blog name
	      <input type="text" id="blog_name" name="blog_name" placeholder="{{ blog_name }}">
	    </label>
	    <button onclick="req('/api/blognameEdit', document.getElementById('blog_name').value)">change</button>
	    <label for "author_name">Author name
	      <input type="text" id="author_name" name="author_name" placeholder="{{ author_name }}">
	    </label>
	    <button onclick="req('/api/authornameEdit', document.getElementById('author_name').value)">change</button>
	    <label for "favicon">Blog icon
	      <input type="text" id="favicon" name="favicon" placeholder="{{ favicon }}">
	    </label>
	    <button onclick="req('/api/faviconEdit', document.getElementById('favicon').value)">change</button>
	</article>
	<article>
	  <h2 class="title"><a href="/cms/index"><b>Index page</b></a></h2>
	  <p><a href="/cms/index"><b>Edit page</b></a></p>
	</article>
	<article>
	  <h2 class="title"><a href="/cms/aboutme"><b>About me page</b></a></h2>
	  <p><a href="/cms/aboutme"><b>Edit page</b></a></p>
	</article>
      </div>
    </main>
  </body>
</html>
