<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ operation }} post | Rogger</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="stylesheet" href="../css/cms.css">
    <link rel="stylesheet" href="../../css/cms.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>
<body>
  <textarea id="editor" name="markdown"></textarea>
  <script>
    var simplemde = new SimpleMDE({
	element: document.getElementById("editor"),
	initialValue: `{{ initial_val }}`,
	toolbar: [
	    "heading", "bold", "italic", "|",
	    "quote", "unordered-list", "ordered-list", "|",
	    "link", "image", "|",
	    "preview", "side-by-side", "fullscreen", "|",
	    {
		name: "custom-button",
		action: function(editor) {
		    const xhr = new XMLHttpRequest();
		    const url = "{{ server_path }}";
		    const params = "{{ post_edit }}api_key="+
			  new Map(document.cookie.split("; ").map(cookie => cookie.split('='))).get('session')
			+"&name=Test_post&text="+simplemde.value();
		    xhr.open("POST", url, true);
		    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
		    xhr.onreadystatechange = function() {
			if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
			    alert("Sent, and received answer: " + xhr.responseText);
			}
		    };
		    xhr.send(params);
		},
		className: "fa fa-{{ operation }}", // upload or edit
		title: "{{ operation }}",
	    }
	]
    });
    simplemde.toggleSideBySide();
    </script>
</body>
</html>
