<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ operation }} post | Rogger</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <style>
      .CodeMirror,
      .CodeMirror-scroll {
	  color: #e1e6eb;
	  background-color: #11191f;
      }

      .CodeMirror-cursor {
	  border-left: 1px solid  #e1e6eb !important;
      }

      .editor-preview-side,
      .editor-preview-active,
      .editor-preview-active-side {
	  color: #e1e6eb;
	  background-color: #11191f;
      }
    </style>
</head>
<body>
  <textarea id="editor" name="markdown"></textarea>
  <script>
    let postTitle = '{{ post_title }}';
    var simplemde = new SimpleMDE({
	element: document.getElementById("editor"),
	initialValue: `{{ initial_val }}`,
	toolbar: [
	    "heading", "bold", "italic", "|",
	    "quote", "unordered-list", "ordered-list", "|",
	    "link", "image", "|",
	    "preview", "side-by-side", "fullscreen", "|",
	    {
               name: "title",
		action: function(editor) {
		    const new_title = prompt("Post title", postTitle);
		    if (new_title !== null) {
			postTitle = new_title;
		    }
		},
		className: "fa fa-book",
		title: "Post title",
            },
	    {
		name: "custom-button",
		action: function(editor) {
		    if (postTitle === '') {
			postTitle = prompt("Post title", postTitle);
		    }
		    const xhr = new XMLHttpRequest();
		    const url = "{{ server_path }}";
		    const params = "{{ post_edit|safe }}api_key="+
			  new Map(document.cookie.split("; ").map(cookie => cookie.split('='))).get('session')
			+"&name="+postTitle+"&text="+simplemde.value();
		    xhr.open("POST", url, true);
		    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
		    xhr.onreadystatechange = function() {
			if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
			    console.log(xhr.responseText);
			    window.location.replace("/cms/");
			}
		    };
		    xhr.send(params);
		},
		className: "fa fa-{{ operation }}",
		title: "{{ operation }}",
            }
	]
    });
    simplemde.toggleSideBySide();
    </script>
</body>
</html>
