<!DOCTYPE html>
<html data-theme="dark">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts | Rogger</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
  <script>
    function rmp(pid) {
	const xhr = new XMLHttpRequest();
        const url = "/api/removePost";
        const params = "api_key="+
              new Map(document.cookie.split("; ").map(cookie => cookie.split('='))).get('session')
            +"&id="+pid;
	xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function() {
            if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
                console.log(xhr.responseText);
            }
        };
        xhr.send(params);
	xhr.addEventListener('load', function() {
	    if (xhr.status === 200) {
		window.location.reload();
	    }
	});
    }
  </script>
  <nav>
    <ul>
      <li><strong>Rogger</strong></li>
    </ul>
    <ul>
      <li><a href="/cms">Main</a></li>
      <li><b>Posts</b></li>
      <li><a href="/cms/authorization">Authorization</a></li>
    </ul>
  </nav>
  <nav aria-label="breadcrumb">
    <ul>
      <li><a href="/cms">Cms</a></li>
      <li>Posts</li>
    </ul>
  </nav>
  <main>
    <p align="center">You are logged as <b>{{ master_user_login }}</b> <a href="/api/endSession">Logout</a></p>
        <div class="container">
	   <article>
	   <h1 class="title"><a href="/cms/post_new"><b>Add new post</b></a></h1>
	</article>
         {% for post in posts %}
	<article>
	  <h1 class="title"><a href="/cms/post_edit/{{ post.id }}"><b>{{ post.title }}</b></a></h1>
	  <p class="description">{{ post.html_content|safe }}</p>
	  <span class="date">{{ post.date }}</span>
	  <p>Author: <a href="/cms/aboutme"><b>{{ your_name }}</b></a></p>
	  <p class="remove-link" onclick="rmp({{ post.id }})"><b>remove post</b></p>
	</article>
	{% endfor %}
        </div>
    </main>
  <footer>
    <div class="container" align="center">
        {% if curr_page == 1 %}
      <p><span style="color: rgb(242, 242, 242);">1</span> <a href="/posts/2">2</a></p>
      {% else %}
         <p>
         {% for (i, ctr) in counter.iter().enumerate() %}
            {% if i == 1 %}
               <span style="color: rgb(242, 242, 242);">{{ ctr }}</span>
            {% else %}
	       <a href="/posts/{{ ctr }}">{{ ctr }}</a>
	    {% endif %}
	 {% endfor %}
	 </p>     
	 {% endif %}
	 </div>
    </footer>
</body>
</html>
