<!DOCTYPE html>
<html data-theme="dark">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts | {{ blog_name }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
  <nav aria-label="breadcrumb">
    <ul>
      <li><a href="/">Home</a></li>
      <li>Posts</li>
    </ul>
  </nav>
  <main>
      <div class="container">
	{% for post in posts %}
	<article>
	  <h1 class="title"><a href="/post/{{ post.id }}"><b>{{ post.title }}</b></a></h1>
	  <p class="description">{{ post.content }}</p>
	  <p><b><a href="/post/{{ post.id }}">Read more</a></b></p>
	  <span class="date">{{ post.date }}</span>
	  <p>Author: <a href="/aboutme"><b>{{ your_name }}</b></a></p>
	</article>
	{% endfor %}
        </div>
    </main>
  <footer>
    <div class="container" align="center">
      {% if curr_page == 1 %}
      <p><span style="color: rgb(242, 242, 242);">1</span> <a href="/posts/2">2</a></p>
      {% else %}
         <p>
         {% for (i, ctr) in counter.iter().enumerate() %}
            {% if i == 1 %}
               <span style="color: rgb(242, 242, 242);">{{ ctr }}</span>
            {% else %}
	       <a href="/posts/{{ ctr }}">{{ ctr }}</a>
	    {% endif %}
	 {% endfor %}
	 </p>     
	 {% endif %}
	 </div>
    </footer>
</body>
</html>
