<!DOCTYPE html>
<html data-theme="dark">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post_name }} | {{ blog_name }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
  <nav aria-label="breadcrumb">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/posts/1">Posts</a></li>
      <li>{{ post_name }}</li>
    </ul>
  </nav>
  <article>
    <h1 class="title"><b>{{ post_name }}</b></h1>
    <span class="date">{{ post_date }}</span>
    <p class="description">{{ post_text|safe }}</p>
  </article>
</body>
</html>
